@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    font-family: Baskerville;
    color: #ffffff;
    border: 2px double #82b09d;
    background-color: rgba(98, 181, 98, 0.633);
    padding: 10px;
    font-weight: 600;
    border-radius: 15px;
}

img {
    max-width: 925px;
}

body {
    background-color: #e2ffd2; /* Change to your desired color */
    height: 100vh; /* Set height to full viewport height */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer-element {
    text-decoration: none;
    font-family: Baskerville;
    font-size: 13px;
    color: #dcdcdc;
    border: 2px solid #8f8e8e;
    padding: 9px;
    font-weight: 600;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #228B22;
    color: #fff;
}

footer a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    color: rgba(233, 207, 207, 0.824);
}
 
header {
    background-color: #228B22;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

header a:hover {
    color: rgba(233, 207, 207, 0.824);
}

.contacts {
    text-align: center;
    text-decoration: none;
    font-family: Baskerville;
    color: #000000;
    border: 5px double #413d3d;
    padding: 5px;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 25px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
}

.contactFlex {
    text-align: center;
    text-decoration: none;
    font-family: Baskerville;
    color: #000000;
    border: 5px double #413d3d;
    padding: 10px;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 25px;
    width: 450px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
}

.separator {
    border-right: 1px solid #d6d6d6;
    transform: translateX(-600%);
}

.title-heading {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    font-weight: 700; /* Bold text for emphasis */
    align-items: center;
    justify-content: center;
}

.page-title {
    font-size: calc(20px + 2.5vw);
    font-family: 'Dancing Script', cursive;
    color: #228B22;
    align-items: center;
    font-weight: 600;
}

/* About Cards */
/* Center the card container */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

.card {
    width: 70vw;
    background-image: url('images/natureCardTexture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px;
}

.card-body {
    color: #000000;
    background-color: rgba(220, 245, 220, 0.591);
    border-radius: 10px;
    border: 2.5px solid darkgreen;
    margin: 10px;
}

.card img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

.card-title {
    font-weight: 300;
    font-size: 2vw;
    color: rgb(74, 74, 74);
    font-family: 'Pacifico', cursive;
    border-bottom: 2px solid rgba(0, 130, 0, 0.817);
}

.card-text {
    font-size: calc(1vw + 5px);
    font-family: 'Times New Roman', Times, serif
}

.picture-Border {
    border: 9px double darkgreen;
}

.logo {
    width: calc(3vw + 25px);
    height: calc(3vw + 25px);
    border: 2px solid darkgreen;
    margin-right: 10px;
}